@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}


$primarycolor:#0E93B4;
$whitecolor:#FFFFFF;
$blackcolor:#000000;
$redcolor:#FF0000;
$black2:#393f46 ;
$dmserif:'DM Serif Text', serif;